{% extends "pages/page.html" %}

{% load mezzanine_tags static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters }}
{% endeditable %}

<div class="gallery row">
{% with page.gallery.images.all as images %}
{% for image in images %}
<div class="col-xs-4 col-sm-3">
    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ image.file.url }}">
        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 131 75 %}">
    </a>
</div>
{% endfor %}
{% endwith %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{# Magnific needs jQuery; public pages do not load it (KD12). Staff get lightbox. #}
{% if user.is_authenticated and user.is_staff %}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    if (!window.jQuery) { return; }
    jQuery(".gallery").magnificPopup({
        delegate: "a",
        type: "image",
        gallery: { enabled: true }
    });
});
</script>
{% endif %}
{% endblock %}
