{% load i18n %}

<div class="module" id="comments-module">
    <h2>{% trans "Recent Comments" %}</h2>
    <ul>
        {% for comment in comments %}
        <li>
            <a href="mailto:{{ comment.email }}">
                {{ comment.user_name }}
            </a>
            <span>{{ comment.intro }}</span>
            <p>
                <a href="{{ comment.content_object.get_absolute_url }}">
                    {{ comment.content_object }}
                </a>
                &middot;
                <a href="{{ comment.get_absolute_url }}">
                    {% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                </a>
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
